body {
    color: #333333;
    font-family:Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 60px;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    color:#888888;
    border-top: 1px solid slategray;
    border-radius: 5px;
    padding:3px;
    padding-left:12px;
    margin-top: 30px;
}
header{
    margin-top:16px;
    margin-bottom: 48px;
}
h1{
    font-size:64px;
    margin-bottom: 20px;
}

header a{
    color: #784867;
    font-size: 17px;
    margin-right: 25px;
    text-decoration: none;
}
.portrait {
    width: 380px;
    border-radius: 20px;
}
.main-content{
    flex-grow: 1;
}
input{
    border  : 1px solid #cccccc;
    padding: 10px;
    margin-right: 40px;
    border-radius: 10px;
}
button{
    border  : 1px solid #888888;
    background-color: #888888;
    color :white;
    padding: 9px;
    border-radius: 10px;
    cursor:pointer; 
}
form{
    margin-bottom: 55px;
    margin-top: 30px;
}